@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Montaga);


@import url(reset.css);

body {
	background: url('../img/bg.jpeg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
	color: #fff;
}


.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding-left: 30px;
	opacity: .8;
	transition: .1s ease;
	-webkit-transition: .1s ease;
	-moz-transition: .1s ease;
	-ms-transition: .1s ease;
	-o-transition: .1s ease;
}

.orderit {
	width: 300px;
	padding-right: 70px;
	padding-top: 230px;
	opacity: 1;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
}

.orderit:hover {
	opacity: .6;
}

.orderlink {
	opacity: 0;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
}

.logo:hover {
	opacity: 1;
}

.mainbar {
	padding-top: 250px;
	float: left;
}

.title {
	width: 200px;
}

.dawgpizza {
	width: 200px;
	right: 9px;
	top: 170px;
}

.imgtext {
	position: relative;
	opacity: 0;
	font-size: 50px;
	font-weight: bold;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
}

.hipsterpizza {
	position: absolute;
	width: 400px;
	opacity: 1;
	padding-left: 50px;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
}

.maincontent:hover .hipsterpizza {
	opacity: .25;
}

.maincontent {
	margin-left: auto;
	margin-right: auto;
}

.maincontent:hover .imgtext {
	opacity: 1;
}

.maincontent:hover .homeinfo {
	opacity: 1;
}

.maincontent:hover .orderlink {
	opacity: 1;
}

.homeinfo {
	opacity: 0;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	padding-top: 80px;
	font-size: 30px;
}

.homeinfo a {
	text-decoration: none;
	opacity: 1;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
}

.sidebar-nav-fixed {
	padding: 9px 0;
	position: fixed;
	left: 20px;
	top: 150px;
	width: 250px;
}

.menu-box {
	width: 20%;
}

.content-box {
	width: 80%;
}

.pizzapicture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.content-box {
	width: 80%;
}

.pizzapicture1 {
	width: 200px;
}

.pizzapicture2 {
	width: 200px;
}

.pizzapicture3 {
	width: 208px;
}

.aboutus {
	text-align: center;
	padding-bottom: 30px;
}

.aboutusp {
	padding-bottom: 20px;
	font-weight: 300;
}

.last {
	text-align: center;
}

nav {
	padding-left: 35px;
	top: 200px;
	line-height: 250%;
	letter-spacing: 1px;
	text-align: center;
}

nav a {
	padding: 10px;
	font-size: 120%;
	color: #D3D3D3;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-ou;
	-ms-transition: color .1s ease-in-ou;
	-o-transition: color .1s ease-in-ou;
	transition: color .1s ease-in-ou;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	color: #fff;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 10px;
}

h2 {
	padding: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	letter-spacing: 3px;
}

.categories {
	text-align: center;
}

.menu ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

.menu ul li {
	padding-bottom: 10px;
}

.menu li ul{
	list-style-type: circle;
	padding-top: 10px;
	padding-left: 50px;
}

.menu li ul li ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 15px;
}

.order-counter {
	padding: 10px;
	width: 350px;
	float: right;
}

.pizzaoven {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 350px;
}

.carousel {
	float: right;
}

.spice-name {
	display: inline;
	font-family: 'Montaga', serif;
	font-size: 95%;
}

.spice-description {
	font-family: 'Montaga', serif;
	font-size: 85%;
	padding-top: 3px;
}

.fbicon {
	width: 30px;
	opacity: .5;
	transition: .1s ease;
	-webkit-transition: .1s ease;
	-moz-transition: .1s ease;
	-ms-transition: .1s ease;
	-o-transition: .1s ease;
}

.fbicon:hover {
	opacity: 1;
}

.tripadvisor {
	width: 50px;
	opacity: .5;
	transition: .1s ease;
	-webkit-transition: .1s ease;
	-moz-transition: .1s ease;
	-ms-transition: .1s ease;
	-o-transition: .1s ease;
}

.tripadvisor:hover {
	opacity: 1;
}

.header {
	background-color: rgba(255,255,255, 0.3);
	margin-bottom: 15px;
	font-family: 'Montaga', serif;
}

.welcome {
	clear: both;
	font-size: 190%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             	0px 8px 13px rgba(0,0,0,0.1),
             	0px 18px 23px rgba(0,0,0,0.1);
}

.home,
.about {
	font-size: 1em;
	line-height: 1.25em;
	margin: 1.25em 0;
	text-align: justify;
}

.location {
	font-size: 90%;
	line-height: 1.25em;
	margin: 1.25em 0;
	text-align: justify;
}

.address {
	float: left;
}

.tel {
	float: right;
}

.spice-list{
	color: #000;
	font-size: 90%;
}

.spice-list li{
	padding: 2px;
}

.spice-type{
	text-decoration: underline;
}

.map {
	margin-top: 15px;
	margin-left: 1px;
	margin-bottom: 10px;
}

.contact {
	padding-left: 10px;
	margin-bottom: 10px;
	font-size: 80%;
}

.contact-headers {
	font-size: 100%;
	padding-top: 25px;
	margin-bottom: 5px;
}

.top {
	margin-top: 10px;
}

.info-body {
	background-color: rgba(255,255,255, 0.3);
}
